*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background: linear-gradient(58deg, #0a1d3c, #0072bb);
    color: #fff;
    position: relative;
}
.top{
    font-size: 650%;
    position: relative;
    padding-top: 2%;
}
.middle{
    font-size: 400%;
    position: relative;
    padding-top: 1%;
}
.bottom{
    font-size: 325%;
    position: relative;
    padding-top: 15%;
}
.brbutton{
   position: absolute; 
   right: 0;
   bottom: 0;
}
.nbutton{
    background: transparent;
    border: none;
    cursor: pointer;
}